# 1.Import Library & Check Columns
# 2. Check for Duplicates and Missing Values
# 3. Change Column Name
# 4. Export Cleaned Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\ajkap\Final Achievement'

In [4]:
#import 'insurance.csv' 
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'insurance.csv'), index_col = False)

In [5]:
#check of 'time.csv
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
#check datatypes
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
#insurance column check
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
#check the datatypes of the table 
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

# Check for duplicates and missing values

In [10]:
#consistency check of insurance
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [32]:
#finding missing values for insurance.csv
df.isnull().sum()

age                  0
sex                  0
bmi                  0
children             0
smoker               0
region               0
insurance_charges    0
dtype: int64

In [13]:
#check shape
df.shape

(1338, 7)

In [14]:
#check for duplicates
df_dups = df[df.duplicated()]

In [15]:
df_dups

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [16]:
#remove duplicate
df_clean=df.drop_duplicates()

In [17]:
df_clean.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
df_clean.shape

(1337, 7)

In [33]:
#recheck for duplicates
df_dups = df_clean[df_clean.duplicated()]

In [20]:
df_dups

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

# Change Column Name

In [24]:
#Renaming insurance csv columns to have consistent format
df.rename(columns = {'charges' : 'insurance_charges'}, inplace = True)

In [28]:
df_clean.head()

   age     sex     bmi  children smoker     region  insurance_charges
0   19  female  27.900         0    yes  southwest        16884.92400
1   18    male  33.770         1     no  southeast         1725.55230
2   28    male  33.000         3     no  southeast         4449.46200
3   33    male  22.705         0     no  northwest        21984.47061
4   32    male  28.880         0     no  northwest         3866.85520

# Export Cleaned Data

In [29]:
#export insurance_clean.csv
df_clean.to_csv(os.path.join(path, '02 Data','prepared data', 'insurance_clean.csv'))